:root {
  // 主要文本颜色
  --aigen-text-main: var(--aigen-foreground);
  // 二级文本颜色
  --aigen-text-secondary: var(--aigen-secondary-foreground);
  // 辅助文本颜色（更浅）
  --aigen-text-helper: var(--aigen-muted-foreground);
  // 禁用颜色
  --aigen-disabled: color-mix(in oklch, var(--aigen-muted-foreground), var(--aigen-background) 30%);
  // 透明的主题色
  --aigen-primary-faded: color-mix(in oklab,var(--aigen-primary)5%,transparent);
 // 活动视图切换器背景色
  --aigen-designer-background: var(--aigen-background);
  // 画布容器颜色
  --aigen-canvas-container-background: color-mix(in oklch, var(--aigen-secondary), var(--aigen-background) 60%);
 // 设计器点颜色
  --aigen-container-dot-color: var(--aigen-muted-foreground);
}

@import "./base.less";
