
.aigen-col-editor-item {
  background-color: var(--aigen-secondary);
  padding: 8px;
  border-radius: var(--aigen-radius);
}

.aigen-col-editor-radio{
  border: 1px solid var(--aigen-border);
  padding: 8px;
  border-radius: var(--aigen-radius);
  margin-bottom: 8px;
}
