// 头部
.aigen-header-container {
  border: 1px solid var(--aigen-border);
  border-bottom: 0;
}

.aigen-header,
.aigen-header a {
  height: 42px;
  background-color: var(--aigen-designer-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  color: var(--aigen-text-main);
}
