// 组件选择面板
.aigen-component-view {
  height: 100%;

  .aigen-component-item {
    cursor: pointer;
    background-color: var(--aigen-secondary);
    padding: 8px 10px;
    border-radius: var(--aigen-radius);
    border: 1px solid transparent;

    .iconfont {
      margin-right: 5px;
      font-size: 16px;
      color: var(--aigen-text-secondary);
    }

    &:hover {
      border-color: var(--aigen-primary);
      color: var(--aigen-primary);
      background-color: var(--aigen-primary-faded);

      .iconfont {
        color: var(--aigen-primary);
      }
    }
  }

  .aigen-search-box {
    border-bottom: 1px solid var(--aigen-border);

    // element 搜素框样式
    // .el-input__wrapper {
    //   background-color: #f7f7f7;
    // }
  }
}
